<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <main>
      <div>
        <h1>Hackaday Projects Go Here</h1>
        <p>Welcome to templating using EJS</p>
      </div>
    </main>
  </body>
</html>
